@model IEnumerable<AnimalsViewModel>
@{
    ViewData["Title"] = "Анімали";
}
<h1>Список анімалів</h1>
<a asp-action="Create" class="btn btn-success mb-3">Додати нового анімала</a>
<table class="table table-striped table-secondary">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ім'я</th>
            <th scope="col">День народження</th>
            <th scope="col">Ціна</th>
            <th scope="col">Зображення</th>
            <th scope="col">Дія</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.BirthDay.ToLongDateString()</td>
                <td>@item.Price</td>
                <td>@item.Image</td>
                <td>
                    <a asp-action="Edit" class="fa fa-pencil text-info cursor-pointer" asp-controller="Animal" asp-route-id="@item.Id"></a>
                    <a asp-action="Delete" class="fa fa-times text-danger cursor-pointer" asp-controller="Animal" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }


    </tbody>
</table>

@section StylesAwesome{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
}